:host {
    display: block;
    padding: 0 16px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    margin-bottom: 0;
    margin-top: 0.83em;
  }
  mat-grid-tile {
    background: lightblue;
  }

.show{
    background: #6cb4b8;
    width:98.9%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.selectors {
    display: table;
    margin: 0 auto;
}

.radio_buttons {
    display: table;
    margin: 0 auto;
}

#wrapper {
    text-align: center;
  }
.atcenter {
    margin:50px;
    display: inline-block;
    width:200px;
    height: 200px;
  }