<app-navigation></app-navigation>
<div id="wrapper">
  <div class="atcenter">
      <h1>Taxa scolara</h1>
      <mat-form-field >
          <mat-select class = "white" placeholder="Anul" [(ngModel)]="selectedSemestru" name="semestru" (change)="semestuChanged($event)">
            <mat-option *ngFor="let semestru of ani" [value]="semestru.viewValue">
              {{semestru.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      <mat-slide-toggle [(ngModel)] = "inTranse">plata in transe</mat-slide-toggle><br>
      <div *ngIf="inTranse">
          <label>Transa: </label>
          <mat-radio-group [(ngModel)]="choosedOption">
            <mat-radio-button  [value]="1"
                        (change)="radioChange($event)">
                1 &nbsp; &nbsp;
            </mat-radio-button>
            <mat-radio-button  [value]="2"
                        (change)="radioChange($event)">
                2 &nbsp; &nbsp;
            </mat-radio-button>
            <mat-radio-button  [value]="3"
                        (change)="radioChange($event)">
                3 &nbsp; &nbsp;
            </mat-radio-button>
            <mat-radio-button  [value]="4"
                        (change)="radioChange($event)">
                4 &nbsp; &nbsp;
            </mat-radio-button>
          </mat-radio-group>
      </div>
      <button  mat-raised-button color="primary" (click)="openCheckout()" >Spre plata online</button>
    </div>

    <div class="atcenter">
        <h1>Taxa restanta</h1>
        <mat-form-field >
            <mat-select class = "white" placeholder="Materie" [(ngModel)]="selectedMaterie" name="materie">
                <mat-option *ngFor="let materie of materii" [value]="materie" >
                  {{materie}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <br><br>
        <button  mat-raised-button color="primary" (click)="openCheckout2()">Spre plata online</button>
      </div>
    </div>