

<div class = "background_class">
  <div class="ubbLogo"></div>
  <form (ngSubmit)="submitForm()" class="form_style" >
      <h2>AcademicInfo - UBB</h2>
      <div class="display">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="username" [(ngModel)]="userLoginData.username" required >
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="userLoginData.password" required>
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>

          <div class="error_message" *ngIf="displayError()" >
            {{getMessage()}}
          </div>

        <div class="spinner" *ngIf="clickedButton()">
          <mat-spinner></mat-spinner>
        </div>

      </div>
  </form>
</div>
