mat-grid-tile {
  background: lightblue;
}

.afis{
  
  width:98.9%;
  height: 100%;
  position: absolute;
  text-align: center;
}

table {
  width: 70%;
  display:table;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: auto;
  display:block;
}
.selectors {
  display: table;
  margin: 0 auto;
}
.white{
  background: white;
}
.select{
  margin-right: 10px;
}


