<app-navigation></app-navigation>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="cluj fade">
    <div id="title">
      Cluj-Napoca
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="ubb fade">
    <div id="title">
      Universitatea Babes Bolyai 
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="ghid fade">
      <div id="title">
        Universitatea Babes Bolyai 
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="ubb fade">
        <div id="title">
          Universitatea Babes Bolyai 
        </div>
      </mat-grid-tile>
</mat-grid-list>
