<app-navigation></app-navigation>

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3>CLUJ NAPOCA</h3>
    <hr />
    <div class="intro">Descopera Clujul, orasul tuturor posibilitatilor!</div>
  </div><!-- /.title-content -->
  <div class="card-info">
    Acest site te poate ajuta in orientarea ta in oras. Nu ezita sa explorezi!
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li class="date">03.12.2015</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
