<app-navigation></app-navigation>

<mat-grid-list cols="2" rowHeight="2:1">
  <a href="https://cluj.com/">
    <mat-grid-tile class="cluj fade">
      <div id="title">
        Cluj-Napoca
      </div>
    </mat-grid-tile>
  </a>
  <a href="https://www.ubbcluj.ro/">
  <mat-grid-tile class="ubb fade">
    <div id="title">
      Universitatea Babes Bolyai 
    </div>
  </mat-grid-tile>
</a>
<a href="https://cluj.com/articole/ghidul-studentului-ubb-cluj-locuri-camin-campus/">
  <mat-grid-tile class="ghid fade">
      <div id="title">
        Ghidul studentului  
      </div>
    </mat-grid-tile>
  </a>
  <a href="https://news.ubbcluj.ro/">
    <mat-grid-tile class="ubb fade">
        <div id="title">
          News 
        </div>
      </mat-grid-tile>
    </a>
</mat-grid-list>
