mat-grid-tile {
    background: lightblue;
  }

.show{
    background: #6cb4b8;
    width:98.9%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.selectors {
    display: table;
    margin: 0 auto;
}

.radio_buttons {
    display: table;
    margin: 0 auto;
}