<app-navigation></app-navigation>
<div>

    <div class="selectors">
      <mat-form-field class="select">
        <mat-select class = "white" (selectionChange)="onChangeMaterie($event)"  placeholder="An" >
          <mat-option   *ngFor="let materie  of materii"  [value]="materie.value" >
            {{materie.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      &nbsp;&nbsp;

      <mat-grid-list  *ngIf="seven==1"  cols="1" rowHeight="1:1">
        <mat-grid-tile>
      <table mat-table [dataSource]="this.grades" class="mat-elevation-z8">

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data notei </th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        </mat-grid-tile>
      </mat-grid-list>

  <mat-grid-list  *ngIf="seven==2"  cols="2" rowHeight="2:1">
    <mat-grid-tile>

      <table mat-table [dataSource]="this.grades" class="mat-elevation-z8">

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data notei </th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-grid-tile>

    <mat-grid-tile>

      <mat-grid-tile>

        <table mat-table [dataSource]="this.grades" class="mat-elevation-z8">

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Nota </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data notei </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>

</div>
