<app-nav-teacher></app-nav-teacher>
<div class="show">
  <div class="selectors">
    <mat-form-field class="select">
      <mat-select class = "white" placeholder="Materie" [(ngModel)]="selectedMaterie" name="materie">
        <mat-option *ngFor="let materie of materii" [value]="materie.viewValue">
          {{materie.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <p> Selected materie: {{selectedMaterie}} </p> -->
  </div>

  <div class="container">

      <mat-card class="card">
        <mat-card-content>
            <mat-checkbox  [(ngModel)]="checkedExamen">Examen</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
          <span> Procent: </span>
            <mat-form-field>
                <input matInput [(ngModel)]="percentageExam" type="number" placeholder="%">
            </mat-form-field>
        </mat-card-actions>
      </mat-card>
      <br>
      <br>

      <mat-card  class="card">
        <mat-card-content>
            <mat-checkbox  [(ngModel)]="checkedPartial">Partial</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
            <span> Procent: </span>
              <mat-form-field>
                  <input matInput [(ngModel)]="percentagePartial" type="number" placeholder="%">
              </mat-form-field>
          </mat-card-actions>
      </mat-card>

     <br>

      <mat-card class="card">
        <mat-card-content>
            <mat-checkbox  [(ngModel)]="checkedLaborator">Laborator</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
            
            <br>
            <span> Procentaj Global: </span>
            <input matInput [(ngModel)]="percentageLabOuter" type="number" placeholder="%">
            
            <br>
            <span> Numar laboratoare: </span>
              <mat-form-field>
                  <input matInput [(ngModel)]="nrLab" type="number" placeholder="">
              </mat-form-field>
              <br>
              <mat-slide-toggle (change)="updateEvenPercentage()" [(ngModel)]="checked1">Acelasi procentaj</mat-slide-toggle>
              <div *ngIf="checked1">
                  <span>{{nrLab}} laboratoare cu procentaj de {{evenPercentageLab}}%</span>
              </div>
              <br>
              <mat-slide-toggle [(ngModel)]="checked2">Procentaje diferite</mat-slide-toggle>
              <div *ngIf = "checked2">
                <div *ngFor="let lab of createArray()">
                    <span> L{{lab}}: </span>
                    <mat-form-field>
                      <input matInput [(ngModel)]="notEvenPercetageLabs[lab-1]" type="number" placeholder="%">
                    </mat-form-field>
                </div>
              </div>
          </mat-card-actions>
      </mat-card>

      <br>

      <mat-card class="card">
        <mat-card-content>
          <mat-checkbox  [(ngModel)]="checkedSeminar">Seminar</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
            <span> Procent: </span>
              <mat-form-field>
                  <input matInput [(ngModel)]="checkedSeminar" type="number" placeholder="%">
              </mat-form-field>
          </mat-card-actions>
      </mat-card>

      <br>

      <mat-card class="card">
        <mat-card-content>
          <mat-checkbox  [(ngModel)]="checkedBonus">Bonus</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
            <span> Puncte: </span>
              <mat-form-field>
                  <input matInput [(ngModel)]="puncteBonus" type="number" placeholder="">
              </mat-form-field>
          </mat-card-actions>
      </mat-card>
  </div>
  <br>
  <button mat-flat-button color="primary" class="button-style" (click)="submitProcentaje($event)">Submit</button>
  <div *ngIf="submitted">
  <button mat-flat-button color="primary" class="button-style" (click)="noteFinale($event)">Calculeaza note finale</button>
  </div>
  <br>
</div>
