mat-grid-tile {
  background: lightblue;
}

.afis{
  background: #6cb4b8;
  width:98.9%;
  height: 100%;
  position: absolute;
}

table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
button {
  align: center;
}
.selectors {
  margin-left: auto;
  position: relative;
}
