
<mat-toolbar color="primary">

  <mat-toolbar-row>
  <span style="margin-right: 20px">AcademicInfo</span>

  <button mat-button [matMenuTriggerFor]="menu">Note</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="../home">Note finale</button>
    <button mat-menu-item routerLink="../note-provizorii">Note provizorii</button>
    <button mat-menu-item routerLink="../note-lab">Note lab/sem</button>
    <button mat-menu-item routerLink="../statistics">Statistica note</button>
  </mat-menu>
  <button mat-button routerLink="../contracte" >Contracte studii</button>
  <button mat-button >Profesori</button>
  <button mat-button [matMenuTriggerFor]="cereri">Cereri</button>
    <mat-menu #cereri="matMenu">
      <button mat-menu-item >Trimite Cerere</button>
      <button mat-menu-item>Vizualizare cereri trimise</button>
    </mat-menu>
  <button mat-button >Taxe</button>


    <span class="fill-space"></span>
    <div>
  <button class="profile">
    <i class="material-icons">
      account_circle
    </i>
  </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

