<app-navigation-admin></app-navigation-admin>
<div class="example-container">
    <form class="ex-container">
      <br>
      <div>
        <label>Tip user</label><br>
        <mat-radio-group>
          <mat-radio-button value="student">Student</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="teacher">Teacher</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="admin">Admin</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
      </div>
    </form>

    <mat-grid-list cols="2" rowHeight="5em">
      
      
      <mat-grid-tile>
        <mat-form-field class="column">
          <input matInput placeholder="Nume" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="column">
          <input matInput placeholder="Prenume">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="column">
          <input matInput placeholder="Numar telefon" required>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field class="column">
          <input matInput placeholder="email">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="column">
            <input matInput placeholder="username" required>
          </mat-form-field>
      </mat-grid-tile>
    
      <mat-grid-tile>
          <mat-form-field class="column">
            <input matInput placeholder="numar matricol">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="column">
            <input matInput placeholder="numar matricol">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field class="column">
            <input matInput placeholder="cnp">
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
      </mat-grid-tile>
      
      <mat-grid-tile>
          <button mat-button>Submit</button>

        </mat-grid-tile>

  </mat-grid-list>    
   </div>
  