.fill-space {
    flex: 1 1 auto;
  }
  
  .error_message{
    background: #6cb4b8;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 20px;
  }

  .toLeft
  {
    margin-left: 10px;
  }
  